body, html {
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;
   
}
 


#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  text-align: center;
  }

.logo {
  display: block;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  margin-top: 20px;
  color: var(--text-color);
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.stic-list {
 
 
  overflow: hidden; /* Скрываем содержимое, выходящее за пределы контейнера */
  
}

.stic-carousel {
  display: flex; /* Устанавливаем элементы в строку для горизонтальной прокрутки */
  overflow-x: auto; /* Включаем горизонтальную прокрутку */
  padding: 0; /* Убираем отступы у списка */
  list-style: none; /* Убираем стандартные маркеры списка */
  scroll-snap-type: x mandatory; /* Задаем привязку для плавной прокрутки по элементам */

}

.stic-carousel::-webkit-scrollbar {
  display: none; /* Скрываем стандартную полосу прокрутки для более чистого интерфейса */
}

.stic-item {
         margin-left: 5%;
    margin-bottom: 5%;
    
background-color:rgba(255, 255, 255, 0.87);
  flex: 0 0 auto; /* Элементы не растягиваются, ширина фиксируется */
  width: 20%; /* Устанавливаем фиксированную ширину карточек */
    
  border: 1px solid #ae29ec; /* Легкая рамка вокруг карточки */
  border-radius: 25px; /* Скругленные углы для карточек */
  
 justify-content: center;
  align-items: center;
   box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2); 
             
  transition: box-shadow 0.3s ease-in-out; /* Плавный эффект изменения тени при наведении */
  scroll-snap-align: center; /* Центрируем элемент относительно области прокрутки */
}


.stic-image {
  width: 100%; /* Занимает всю ширину родителя */
  height: 100%; /* Занимает всю высоту родителя */
  object-fit: cover; /* Кадрирует изображение, чтобы оно полностью заполнило родительский элемент */
  display: block; /* Убирает лишние отступы inline-элемента */
  border-radius: 25px; /* Скругление для соответствия карточке */
}




.card {
  text-align: start; /* Выравниваем текст по левому краю */
  background-color: #fff; /* Устанавливаем белый фон для карточки */
  height: auto; /* Высота элемента автоматически подстраивается под содержимое */
  border: 1px solid #fff; /* Белая рамка вокруг карточки (визуально незаметна) */
  border-radius: 25px; /* Скругленные углы у карточки */
  padding: 5px; /* Внутренние отступы внутри карточки */
  margin: 5%; /* Внешние отступы со всех сторон в 5% от ширины родителя */
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 
              0 4px 6px rgba(0, 0, 0, 0.1); /* Тени для создания объема */
  transition: box-shadow 0.3s ease-in-out; /* Плавное изменение тени при взаимодействии */
}

.cstatus {
  padding-top: 2vh; /* Отступ сверху в 2% от высоты экрана */
  background-color: rgba(245, 215, 44, 0.7); /* Полупрозрачный желтый фон */
  height: auto; /* Высота элемента автоматически подстраивается под содержимое */
  border: 1px solid rgba(245, 215, 44, 0.7); /* Полупрозрачная желтая рамка вокруг элемента */
  border-radius: 25px; /* Скругленные углы для элемента */
  padding: 5px; /* Внутренние отступы внутри элемента */
  margin: 5%; /* Внешние отступы со всех сторон в 5% от ширины родителя */
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 
              0 4px 6px rgba(0, 0, 0, 0.1); /* Тени для создания объема */
  transition: box-shadow 0.3s ease-in-out; /* Плавное изменение тени при взаимодействии */
}


.read-the-docs {
  color: #888;
}

.jetton-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.jetton-image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.jetton-details {
  flex-grow: 1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
}

.modal-content input {
  width: calc(100% - 20px);
  padding: 10px;
}

.modal-content button {
  margin-right: 10px;
  margin-top: 10px;
}

.error {
  color: red;
}

.nft-list {
 
  margin-top: 5px; /* Отступ сверху для списка NFT */
  overflow: hidden; /* Скрываем содержимое, выходящее за пределы контейнера */
  
}

.nft-carousel {
  display: flex; /* Устанавливаем элементы в строку для горизонтальной прокрутки */
  overflow-x: auto; /* Включаем горизонтальную прокрутку */
  padding: 0; /* Убираем отступы у списка */
  list-style: none; /* Убираем стандартные маркеры списка */
  scroll-snap-type: x mandatory; /* Задаем привязку для плавной прокрутки по элементам */

}

.nft-carousel::-webkit-scrollbar {
  display: none; /* Скрываем стандартную полосу прокрутки для более чистого интерфейса */
}

.nft-item {
        margin-left: 5%;
    margin-bottom: 20%;
background-color:rgba(255, 255, 255, 0.87);
  flex: 0 0 auto; /* Элементы не растягиваются, ширина фиксируется */
  width: 45%; /* Устанавливаем фиксированную ширину карточек */
  border: 1px solid #fff; /* Легкая рамка вокруг карточки */
  border-radius: 25px; /* Скругленные углы для карточек */
  padding: 10px; /* Внутренние отступы внутри карточки */
  text-align: center; /* Центрируем текст внутри карточки */
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 
              0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out; /* Плавный эффект изменения тени при наведении */
  scroll-snap-align: center; /* Центрируем элемент относительно области прокрутки */
}

.nft-item:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); /* Усиливаем тень при наведении для эффекта "подъема" */
}

.nft-image {
    background-color: #fff;
  max-width: 100%; /* Устанавливаем максимальную ширину изображения по ширине контейнера */
  height: auto; /* Сохраняем пропорции изображения */
  border-radius: 10px; /* Скругляем углы у изображения */
}






.loading-screen h1 {
  margin-top: 20px;
  font-size: 2rem;
  color: var(--text-color);
}
.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  text-align: center;
}

.loading-image {
  width: 20vh; /* Установите нужный размер изображения */
  height: auto;
  margin-bottom: 20px;
}

.loading-screen h3 {
  font-size: 1.5rem;
  color: var(--text-color);
}

@keyframes dot-blink {
  0% {
    content: ".";
  }
  33% {
    content: "..";
  }
  66% {
    content: "...";
  }
  100% {
    content: ".";
  }
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Выравнивает элементы по левому краю */
  width: 90%; /* Занимает всю ширину родительского контейнера */
  padding: 10px; /* Добавляет отступы вокруг */
  box-sizing: border-box; /* Учитывает padding в ширине */
  margin-top: 10vh;
  margin-left: 5%;
}

.profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px; /* Отступ справа от фото */
}

.user-name {
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px; /* Отступ от имени до иконки */
  display: flex;
  align-items: center;
  max-width: 100%; /* Ограничение ширины */
  white-space: nowrap; /* Запрещает перенос текста */
  overflow: hidden; /* Скрывает лишний текст */
  text-overflow: ellipsis; /* Добавляет многоточие, если текст не помещается */
}

.arrow-icon {
  font-size: 14px;
  color: #007bff; /* Синий цвет */
  cursor: pointer; /* Указывает, что элемент кликабельный */
}

.ton-connect-button {
  margin-left: auto; 
}





.settings-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.wallet-connection {
  display: flex;
  justify-content: center;
  width: 100%; /* Ensures that the button is centered within the container */
  margin-top: 7vh; /* Adds some spacing above the button */
}

select {
  margin-top: 10px;
}

/* Затемнение фона */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Полупрозрачный черный */
  display: none;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}

.overlay.visible {
  display: block;
  opacity: 1;
}

/* Выезжающее окно */
.slide-modal {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  max-height: 80%; /* Ограничение по высоте */
  background: #fff;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto; /* Прокрутка при переполнении */
  transition: bottom 0.9s ease-in-out; /* Увеличим продолжительность анимации */
  width: 100%;
  max-width: 100%; /* Ограничение ширины окна */
  overflow-x: hidden; /* Убираем горизонтальную прокрутку */
  
}

.slide-modal.visible {
  bottom: 0;
}


/* Контент внутри модального окна */
.modal-content {
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-x: hidden; /* Убираем горизонтальную прокрутку */
  justify-content: center; /* Центрирование по вертикали */
  align-items: center; /* Центрирование по горизонтали */
  text-align: center; /* Текст внутри будет центрирован */
  width: 90%; /* Адаптивная ширина */
  max-width: 100%; /* Ограничение максимальной ширины */
  margin: auto; /* Для центрирования относительно родителя */
  color: #000;
}

.modal-content label {
  font-weight: bold;
}

.modal-content input,
.modal-content select,
.modal-content button {
  width: 100%; /* Единая ширина для кнопок и полей ввода */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ссс;
  border-radius: 8px;
  box-sizing: border-box;
}

.modal-content button {
  border: none;
  cursor: pointer;
}

.modal-content button:first-child {
  background: #4caf50;
  color: white;
}

.modal-content button:last-child {
  background: #f44336;
  color: white;
}

/* В файл App.css или BottomMenu.css */
.bottom-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 240, 1.0);
  padding: 10px;
  border-top: 1px solid rgb(206, 205, 205);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgb(206, 205, 205);
  height: 7vh;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.menu-item:hover {
  color: #007bff;
}

.menu-item span {
  margin-top: 5px;
  font-size: 12px;
}

.menu-item.active {
  color: #007bff;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Фиксированная высота на весь экран */
  
 scrollbar-width: none;
  overflow-y: auto;
  
}

.content {
  
 
  height: 100vh; 
  padding-bottom: 10vh; /* Отступ снизу для нижнего меню */
 
}
.main-content::-webkit-scrollbar {
  display: none; /* Скрываем ползунок в Chrome, Safari */
  
}



.send-button-container {
  display: flex;
  flex-direction: column; /* Размещаем элементы вертикально */
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
}

.send-button {
  background-color: #fff; /* Цвет фона кнопки */
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.send-button:hover {
  transform: scale(1.1); /* Эффект при наведении */
}

.material-symbols-outlined {
  font-size: 30px; /* Размер иконки */
  color: #0000F5; /* Цвет иконки */
}

.send-button-text {
  margin-top: 8px; /* Отступ между кнопкой и текстом */
  font-size: 14px;
  color: #000; /* Цвет текста */
  text-align: center;
  cursor: pointer; /* Делает текст кликабельным */
}

.send-button-text:hover {
  text-decoration: underline; /* Добавляем подчеркивание при наведении */
}

