.earn-blok-wrapper { 
  position: relative; /* Обеспечиваем контекст для абсолютного позиционирования спиннера */
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #FFC107;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.earn-blok {
  background: #666666;
  color: #FFC107;

  width: 100%;

}

.text-top,
.text-bottom {
  text-align: center;
  font-size: 16px; /* Размер текста */
  color: #ffc107; /* Цвет текста */
  margin: 10px 0; /* Отступ сверху и снизу */
   background: #666666;
  color: #FFC107;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #666666;
  border-radius: 25px;
  padding: 5px;
  margin: 5%;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2),
              0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out
}

.text-top {
  margin-bottom: 20px; /* Дополнительный отступ для верхнего текста */
}

.text-bottom {
  margin-top: 20px; /* Дополнительный отступ для нижнего текста */
}



.earn-blok.loaded {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.play-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 4vh;
}
