.earn-blok {
  background: #666666; /* Убираем кавычки и исправляем запятую */
  color: #FFC107;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid #666666; /* Полупрозрачная желтая рамка вокруг элемента */
  border-radius: 25px; /* Скругленные углы для элемента */
  padding: 5px; /* Внутренние отступы внутри элемента */
  margin: 5%; /* Внешние отступы со всех сторон в 5% от ширины родителя */
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 
              0 4px 6px rgba(0, 0, 0, 0.1); /* Тени для создания объема */
  transition: box-shadow 0.3s ease-in-out; /* Плавное изменение тени при взаимодействии */
}

.spinner {
  position: absolute; /* Устанавливаем позицию спиннера относительно его родителя */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Центрируем спиннер */
  width: 50px;
  height: 50px;
  border: 5px solid #FFC107;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.play-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
    margin-top: 4vh;
}
