/* Стиль для заголовка модального окна */
.modal-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: 20px; /* Отступ снизу, чтобы не прижимать содержимое */
}

.modal-header .close-btn {
  background: transparent;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* Расстояние между иконкой и текстом */
}

.modal-header .close-btn:hover {
  color: #f44336; /* Цвет при наведении */
}

/* Выезжающее окно */
.slide-swap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  background: #fff;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  transform: translateY(100%); /* По умолчанию скрыто за пределами экрана */
  animation: slideOut 0.4s forwards; /* По умолчанию скрывается */
}

.slide-swap.visible {
  animation: slideIn 0.4s forwards; /* Анимация появления */
}

/* Общие стили для кнопок и содержимого */
.swap-content {
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  max-width: 100%;
  margin: auto;
  color: #000;
}

.swap-content label {
  font-weight: bold;
}

.swap-content input,
.swap-content select,
.swap-content button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.swap-content button {
  border: none;
  cursor: pointer;
}

.swap-content button:first-child {
  background: #4caf50;
  color: white;
}

.swap-content button:last-child {
  background: #f44336;
  color: white;
}

/* Анимации для модального окна */
@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}



@keyframes skeleton-loading {
    0% {
      background-color: #e0e0e0;
    }
    50% {
      background-color: #f7f7f7;
    }
    100% {
      background-color: #e0e0e0;
    }
  }

  .skeleton-button-row {
    display: flex;
    gap: 10px;
  }
  .skeleton-button-container {
    width: 70px;
    height: 80px;
  }
  .skeleton-button {
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    animation: skeleton-loading 1.5s infinite ease-in-out;
  }
