.button-container {
  text-align: start;
  background-color: #fff;
  height: auto;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }
.modal-header { 
  display: flex;
  align-items: center;
  justify-content: center; /* Центрируем все элементы в header */
  width: 100%;
  padding-bottom: 10px; /* Отступ снизу */
}

.modal-header .close-btn {
  border: none;
  color: #000;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px; /* Расстояние между иконкой и текстом */
  position: absolute; /* Чтобы она не вмешивалась в центр */
  left: 20px; /* Расстояние от левого края */
}

.modal-header h2 {
  flex-grow: 1;
  text-align: center; /* Центруем текст "Swap" */
  margin: 0; /* Убираем внешние отступы */
  font-size: 20px; /* Размер текста заголовка */
}

/* Увеличиваем высоту модального окна и поднимаем его выше */
.slide-swap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: #fff;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  padding: 40px 20px 20px 20px; /* Увеличиваем отступ сверху */
  box-sizing: border-box;
  overflow-y: auto;
  transform: translateY(100%); /* По умолчанию скрыто за пределами экрана */
  animation: slideOut 0.4s forwards; /* По умолчанию скрывается */
}

.slide-swap.visible {
  animation: slideIn 0.4s forwards; /* Анимация появления */
}



.modal-header .close-btn svg {
  margin-right: 5px; /* Отступ между иконкой и текстом */
}


.modal-header .close-btn svg {
  margin-right: 5px; /* Отступ между иконкой и текстом */
}


/* Общие стили для кнопок и содержимого */
.swap-content {
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  max-width: 100%;
  margin: auto;
  color: #000;
}

.swap-content label {
  font-weight: bold;
}

.swap-content input,
.swap-content select,
.swap-content button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}



/* Анимации для модального окна */
@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}



@keyframes skeleton-loading {
    0% {
      background-color: #e0e0e0;
    }
    50% {
      background-color: #f7f7f7;
    }
    100% {
      background-color: #e0e0e0;
    }
  }

  .skeleton-button-row {
    display: flex;
    gap: 10px;
  }
  .skeleton-button-container {
    width: 70px;
    height: 80px;
  }
  .skeleton-button {
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    animation: skeleton-loading 1.5s infinite ease-in-out;
  }
