
.wallet-address {
  padding-top: 10%; /* Отступ сверху в 2% от высоты экрана */
  background-color: rgba(245, 215, 44, 0.7); /* Полупрозрачный желтый фон */
  height: auto; /* Высота элемента автоматически подстраивается под содержимое */
  border: 1px solid rgba(245, 215, 44, 0.7); /* Полупрозрачная желтая рамка вокруг элемента */
  border-radius: 25px; /* Скругленные углы для элемента */
  padding: 5px; /* Внутренние отступы внутри элемента */
  margin: 5%; /* Внешние отступы со всех сторон в 5% от ширины родителя */
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 
              0 4px 6px rgba(0, 0, 0, 0.1); /* Тени для создания объема */
  transition: box-shadow 0.3s ease-in-out; /* Плавное изменение тени при взаимодействии */
text-align: center;
}


/* Стиль для выезжающего окна */
.slide-modal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 80%;
  background: #fff;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  transform: translateY(100%); /* По умолчанию скрыто за пределами экрана */
  animation: slideOut 0.4s forwards; /* По умолчанию скрывается */
}

.slide-modal.visible {
  animation: slideIn 0.4s forwards; /* Анимация появления */
}

/* Анимация появления модального окна */
@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Анимация скрытия модального окна */
@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

/* Контент внутри модального окна */
.modal-content {
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center; /* Центрирование по вертикали */
  align-items: center; /* Центрирование по горизонтали */
  text-align: center; /* Текст внутри будет центрирован */
  color: #000;
}

.modal-content button {
  width: 100%; /* Единая ширина для кнопок */
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.modal-content button:first-child {
  background: #4caf50;
  color: white;
}

.modal-content button:last-child {
  background: #f44336;
  color: white;
}
