body, html {
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;
   
}
 
.cards-container {
  display: flex; /* Flexbox для выравнивания элементов по горизонтали */
  justify-content: space-between; /* Распределяем элементы на всю ширину контейнера */
  gap: 20px; /* Добавляем промежуток между элементами */
  width: 100%; /* Занимаем всю доступную ширину */
}


#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  text-align: center;
  }

.logo {
  display: block;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  margin-top: 20px;
  color: var(--text-color);
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.how-it-works {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    position: relative;
    white-space: nowrap;
}

.how-it-works p {
    
    font-family: 'Rubik Vinyl', cursive;
    font-size: 3vh;
    color: #000;
    text-align: center;
    transform: rotate(6.02deg);
   white-space: nowrap;
}

.how-it-works2 {
     margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    position: relative;
    white-space: nowrap;
}

.how-it-works2 p {
    font-family: 'Rubik Vinyl', cursive;
    font-size: 3vh;
    color: #000;
    text-align: center;
    transform: rotate(12.02deg);
   white-space: nowrap;
}

.stic-list {
 
 
  overflow: hidden; /* Скрываем содержимое, выходящее за пределы контейнера */
  
}

.stic-carousel {
  display: flex; /* Устанавливаем элементы в строку для горизонтальной прокрутки */
  overflow-x: auto; /* Включаем горизонтальную прокрутку */
  padding: 0; /* Убираем отступы у списка */
  list-style: none; /* Убираем стандартные маркеры списка */
  scroll-snap-type: x mandatory; /* Задаем привязку для плавной прокрутки по элементам */

}

.stic-carousel::-webkit-scrollbar {
  display: none; /* Скрываем стандартную полосу прокрутки для более чистого интерфейса */
}

.stic-item {
         margin-left: 5%;
    margin-bottom: 5%;
    
background-color:rgba(255, 255, 255, 0.87);
  flex: 0 0 auto; /* Элементы не растягиваются, ширина фиксируется */
  width: 20%; /* Устанавливаем фиксированную ширину карточек */
    
  border: 1px solid #ae29ec; /* Легкая рамка вокруг карточки */
  border-radius: 25px; /* Скругленные углы для карточек */
  
 justify-content: center;
  align-items: center;
   box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2); 
             
  transition: box-shadow 0.3s ease-in-out; /* Плавный эффект изменения тени при наведении */
  scroll-snap-align: center; /* Центрируем элемент относительно области прокрутки */
}


.stic-image {
  width: 100%; /* Занимает всю ширину родителя */
  height: 100%; /* Занимает всю высоту родителя */
  object-fit: cover; /* Кадрирует изображение, чтобы оно полностью заполнило родительский элемент */
  display: block; /* Убирает лишние отступы inline-элемента */
  border-radius: 25px; /* Скругление для соответствия карточке */
}




.jetton-list-link {
  text-decoration: none; /* Убирает подчеркивание */
  outline: none; /* Убирает обводку */
  background: none; /* Убирает фон */
  border: none; /* Убирает границу */
  cursor: pointer; /* Показывает, что элемент кликабельный */
}

.jetton-list-link:hover,
.jetton-list-link:focus,
.jetton-list-link:active {
  background: none; /* Убирает выделение */
  box-shadow: none; /* Убирает эффект теней */
}

.card {
  text-align: start;
  background-color: #fff;
  height: auto;
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 5px;
  margin: 5%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 
              0 4px 6px rgba(0, 0, 0, 0.1);
  user-select: none; /* Запрещает выделение текста */
  -webkit-tap-highlight-color: transparent; /* Убирает эффект выделения на мобильных устройствах */
}

.earncards {
  padding-top: 2vh; /* Отступ сверху в 2% от высоты экрана */
  background-color: #fff; /* Полупрозрачный желтый фон */
  height: auto; /* Высота элемента автоматически подстраивается под содержимое */
  border: 1px solid #fff; /* Полупрозрачная желтая рамка вокруг элемента */
  border-radius: 25px; /* Скругленные углы для элемента */
  padding: 5px; /* Внутренние отступы внутри элемента */
  margin: 5%; /* Внешние отступы со всех сторон в 5% от ширины родителя */
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 
              0 4px 6px rgba(0, 0, 0, 0.1); /* Тени для создания объема */
  transition: box-shadow 0.3s ease-in-out; /* Плавное изменение тени при взаимодействии */
}

.cstatus {
  padding-top: 2vh; /* Отступ сверху в 2% от высоты экрана */
  background-color: rgba(245, 215, 44, 0.7); /* Полупрозрачный желтый фон */
  height: auto; /* Высота элемента автоматически подстраивается под содержимое */
  border: 1px solid rgba(245, 215, 44, 0.7); /* Полупрозрачная желтая рамка вокруг элемента */
  border-radius: 25px; /* Скругленные углы для элемента */
  padding: 5px; /* Внутренние отступы внутри элемента */
  margin: 5%; /* Внешние отступы со всех сторон в 5% от ширины родителя */
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 
              0 4px 6px rgba(0, 0, 0, 0.1); /* Тени для создания объема */
  transition: box-shadow 0.3s ease-in-out; /* Плавное изменение тени при взаимодействии */
text-align: center;
}


.read-the-docs {
  color: #888;
}

.jetton-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.jetton-image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.jetton-details {
  flex-grow: 1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
}

.modal-content input {
  width: calc(100% - 20px);
  padding: 10px;
}

.modal-content button {
  margin-right: 10px;
  margin-top: 10px;
}

.error {
  color: red;
}

.nft-list {
 
  margin-top: 5px; /* Отступ сверху для списка NFT */
  overflow: hidden; /* Скрываем содержимое, выходящее за пределы контейнера */
  
}

.nft-carousel {
  display: flex; /* Устанавливаем элементы в строку для горизонтальной прокрутки */
  overflow-x: auto; /* Включаем горизонтальную прокрутку */
  padding: 0; /* Убираем отступы у списка */
  list-style: none; /* Убираем стандартные маркеры списка */
  scroll-snap-type: x mandatory; /* Задаем привязку для плавной прокрутки по элементам */

}

.nft-carousel::-webkit-scrollbar {
  display: none; /* Скрываем стандартную полосу прокрутки для более чистого интерфейса */
}

.nft-item {
        margin-left: 5%;
    margin-bottom: 20%;
background-color:rgba(255, 255, 255, 0.87);
  flex: 0 0 auto; /* Элементы не растягиваются, ширина фиксируется */
  width: 45%; /* Устанавливаем фиксированную ширину карточек */
  border: 1px solid #fff; /* Легкая рамка вокруг карточки */
  border-radius: 25px; /* Скругленные углы для карточек */
  padding: 10px; /* Внутренние отступы внутри карточки */
  text-align: center; /* Центрируем текст внутри карточки */
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 
              0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out; /* Плавный эффект изменения тени при наведении */
  scroll-snap-align: center; /* Центрируем элемент относительно области прокрутки */
}

.nft-item:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); /* Усиливаем тень при наведении для эффекта "подъема" */
}

.nft-image {
    background-color: #fff;
  max-width: 100%; /* Устанавливаем максимальную ширину изображения по ширине контейнера */
  height: auto; /* Сохраняем пропорции изображения */
  border-radius: 10px; /* Скругляем углы у изображения */
}






.loading-screen h1 {
  margin-top: 20px;
  font-size: 2rem;
  color: var(--text-color);
}
.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  text-align: center;
}

.loading-image {
  width: 20vh; /* Установите нужный размер изображения */
  height: auto;
  margin-bottom: 20px;
}

.loading-screen h3 {
  font-size: 1.5rem;
  color: var(--text-color);
}

@keyframes dot-blink {
  0% {
    content: ".";
  }
  33% {
    content: "..";
  }
  66% {
    content: "...";
  }
  100% {
    content: ".";
  }
}

.settings-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 3vh;
}

.wallet-connection {
  display: flex;
  justify-content: center;
  width: 100%; 
  margin-top: 7vh; 
}

select {
  margin-top: 10px;
}


/* Затемнение фона */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Полупрозрачный черный */
  display: none;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.overlay.visible {
  display: block;
  opacity: 1;
}

/* Анимация для модального окна */
@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

/* Выезжающее окно */
.slide-modal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 80%;
  background: #fff;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  transform: translateY(100%); /* По умолчанию скрыто за пределами экрана */
  animation: slideOut 0.4s forwards; /* По умолчанию скрывается */
}

.slide-modal.visible {
  animation: slideIn 0.4s forwards; /* Анимация появления */
}



/* Контент внутри модального окна */
.modal-content {
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-x: hidden; /* Убираем горизонтальную прокрутку */
  justify-content: center; /* Центрирование по вертикали */
  align-items: center; /* Центрирование по горизонтали */
  text-align: center; /* Текст внутри будет центрирован */
  width: 90%; /* Адаптивная ширина */
  max-width: 100%; /* Ограничение максимальной ширины */
  margin: auto; /* Для центрирования относительно родителя */
  color: #000;
}

.modal-content label {
  font-weight: bold;
}

.modal-content input,
.modal-content select,
.modal-content button {
  width: 100%; /* Единая ширина для кнопок и полей ввода */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ссс;
  border-radius: 8px;
  box-sizing: border-box;
}

.modal-content button {
  border: none;
  cursor: pointer;
}

.modal-content button:first-child {
  background: #4caf50;
  color: white;
}

.modal-content button:last-child {
  background: #f44336;
  color: white;
}

/* В файл App.css или BottomMenu.css */
.bottom-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 240, 1.0);
  padding: 10px;
  border-top: 1px solid rgb(206, 205, 205);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgb(206, 205, 205);
  height: 7vh;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer; /* Указывает, что элемент кликабельный */
  text-decoration: none; /* Убирает подчеркивание */
  color: #000; /* Базовый цвет текста */
  user-select: none; /* Запрещает выделение текста */
  -webkit-tap-highlight-color: transparent; /* Убирает выделение на мобильных устройствах */
}

.menu-item:hover {
  color: #007bff; /* Цвет при наведении */
}

.menu-item span {
  margin-top: 5px;
  font-size: 12px;
}

.menu-item.active {
  color: #007bff; /* Цвет активного элемента */
}


.main-content {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Фиксированная высота на весь экран */
  
 scrollbar-width: none;
  overflow-y: auto;
  
}

.content {
  
 
  height: 100vh; 
  padding-bottom: 10vh; /* Отступ снизу для нижнего меню */
 
}
.main-content::-webkit-scrollbar {
  display: none; /* Скрываем ползунок в Chrome, Safari */
  
}



.button-row {
  display: flex;
  justify-content: center; /* Центрируем кнопки по горизонтали */
  align-items: flex-start; /* Выравниваем кнопки по верхнему краю */
  gap: 40px; /* Пространство между кнопками */
}

.button-container {
  display: flex;
  flex-direction: column; /* Размещаем иконку и текст по вертикали */
  align-items: center; /* Центрируем содержимое */
}

.action-button {
  background: none; /* Убираем фон */
  border: none; /* Убираем рамку */
  cursor: pointer; /* Указываем, что элемент кликабельный */
  text-align: center;
  display: flex;
  flex-direction: column; /* Иконка и текст идут друг за другом */
  align-items: center;
  gap: 4px; /* Пространство между иконкой и текстом */
  user-select: none; /* Запрещаем выделение текста */
  -webkit-tap-highlight-color: transparent; /* Убираем выделение на мобильных устройствах */
}

.action-button:hover,
.action-button:focus,
.action-button:active {
  outline: none; /* Убираем обводку */
  background: none; /* Убираем фон */
  box-shadow: none; /* Убираем любые тени */
}

.material-symbols-outlined {
  font-size: 36px; /* Размер иконок */
  color: #333; /* Цвет иконок */
}

.button-text {
  font-size: 14px; /* Размер текста */
  color: #333; /* Цвет текста */
}


.jetton-details-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
    margin-top: 4vh;
}
.task-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
    margin-top: 4vh;
}
.fren-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
    margin-top: 4vh;
}
.shop-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
    margin-top: 4vh;
}

.tokenhodr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}




.altcoins-list {
  text-align: start;
  background-color: #fff;
  max-width: 800px; /* Максимальная ширина для адаптивности */
  margin: 20px auto; /* Центровка списка */
  height: auto;
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 20px; /* Увеличенный padding для читаемости */
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 
              0 4px 6px rgba(0, 0, 0, 0.1);
  user-select: none; 
  -webkit-tap-highlight-color: transparent;
}

.altcoin {
  display: flex;
  align-items: center;
  padding: 10px 0; /* Пространство между монетами */
  border-bottom: 1px solid #eee; /* Разделение */
}

.altcoin:last-child {
  border-bottom: none; /* Убираем линию для последнего элемента */
}

.altcoin-image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover; /* Убедимся, что изображение не искажено */
}

.altcoin-details {
  flex-grow: 1;
  font-size: 14px;
  line-height: 1.5; /* Увеличиваем читаемость */
  color: #333; /* Тёмный цвет для текста */
}

.altcoin-details span:first-child {
  font-weight: bold; /* Имя и символ выделяются жирным */
}

.price-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-change {
  font-size: 12px;
  margin-left: 10px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.alt-hub {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Фиксированная высота на весь экран */
  scrollbar-width: none;
  overflow-y: auto;
  margin-top: 4vh;
}

.hub {
  height: 100vh; 
  padding-bottom: 10vh; /* Отступ снизу для нижнего меню */
}

.alt-hub::-webkit-scrollbar {
  display: none; /* Скрываем ползунок в Chrome, Safari */
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.blinking {
  animation: blink 1s infinite;
}

.ui-tapbar-button-container {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  padding: 12px 24px;
  border-radius: 50px;
  font-size: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui-tapbar-button-container:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

