#root {
  width: 535px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  display: block;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  margin-top: 20px;
  color: var(--text-color);
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  text-align: start;
}

.read-the-docs {
  color: #888;
}

.jetton-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.jetton-image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.jetton-details {
  flex-grow: 1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}

.modal-content input {
  width: calc(100% - 20px);
  padding: 10px;
}

.modal-content button {
  margin-right: 10px;
  margin-top: 10px;
}

.error {
  color: red;
}

.nft-list {
  margin-top: 20px;
}

.nft-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  padding: 0;
  list-style: none;
}

.nft-item:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); /* Увеличиваем тень при наведении */
}

.nft-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Добавляем тени */
  transition: box-shadow 0.3s ease-in-out; /* Плавное появление тени */
}

.nft-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}


.loading-screen h1 {
  margin-top: 20px;
  font-size: 2rem;
  color: var(--text-color);
}
.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  text-align: center;
}

.loading-image {
  width: 30vh; /* Установите нужный размер изображения */
  height: auto;
  margin-bottom: 20px;
}

.loading-screen h3 {
  font-size: 1.5rem;
  color: var(--text-color);
}

@keyframes dot-blink {
  0% {
    content: ".";
  }
  33% {
    content: "..";
  }
  66% {
    content: "...";
  }
  100% {
    content: ".";
  }
}

.profile-header {
  display: flex;
  align-items: center;
}

.profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 2%;
  margin-top: 7vh;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
  margin-top: 7vh;
}

.settings-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.wallet-connection {
  display: flex;
  justify-content: center;
  width: 100%; /* Ensures that the button is centered within the container */
  margin-top: 7vh; /* Adds some spacing above the button */
}

select {
  margin-top: 10px;
}

/* Затемнение фона */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Полупрозрачный черный */
  display: none;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}

.overlay.visible {
  display: block;
  opacity: 1;
}

/* Выезжающее окно */
.slide-modal {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  max-height: 80%; /* Ограничение по высоте */
  background: rgb(124, 122, 245);
  border-radius: 16px 16px 0 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto; /* Прокрутка при переполнении */
  transition: bottom 0.5s ease-in-out; /* Увеличим продолжительность анимации */
  width: 100%;
  max-width: 100%; /* Ограничение ширины окна */
  overflow-x: hidden; /* Убираем горизонтальную прокрутку */
  
}

.slide-modal.visible {
  bottom: 0;
}


/* Контент внутри модального окна */
.modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-x: hidden; /* Убираем горизонтальную прокрутку */
  justify-content: center; /* Центрирование по вертикали */
  align-items: center; /* Центрирование по горизонтали */
  text-align: center; /* Текст внутри будет центрирован */
  width: 90%; /* Адаптивная ширина */
  max-width: 400px; /* Ограничение максимальной ширины */
  margin: auto; /* Для центрирования относительно родителя */
}

.modal-content label {
  font-weight: bold;
}

.modal-content input,
.modal-content select,
.modal-content button {
  width: 100%; /* Единая ширина для кнопок и полей ввода */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.modal-content button {
  border: none;
  cursor: pointer;
}

.modal-content button:first-child {
  background: #4caf50;
  color: white;
}

.modal-content button:last-child {
  background: #f44336;
  color: white;
}

/* В файл App.css или BottomMenu.css */
.bottom-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-top: 1px solid #ddd;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.menu-item:hover {
  color: #007bff;
}

.menu-item span {
  margin-top: 5px;
  font-size: 12px;
}

.menu-item.active {
  color: #007bff;
}
